/* Custom styles for the card */
.card {
  margin-bottom: 20px;
  transition: transform 0.2s ease-in-out;
  
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  max-height: 200px;
  object-fit: cover;
}

/* Fixed height for the card body */
.card-body {
  height: 120px;
  overflow: hidden;
  background : rgb(210, 207, 207);
}

.card-title{
  color: rgb(249, 249, 249);
}

/* Styles for the page */
body {
  background-color: #f8f9fa;
}

.container {
  margin-top: 20px;
}

/* Styles for the navbar */
.navbar {
  margin-bottom: 20px;
  background : rgb(206, 206, 215);
  color: black;
}

